.App-content-container {
  width: 80%;
  margin: auto;
  text-align: left;
  font-family: Roboto, Lato, Arial, Helvetica, sans-serif;
  color: rgba(0,0,0, 0.86);
}

.App-table {
  border-collapse: collapse;
  width: 100%;
}

.App-table td {
  border-top: 1px solid #ddd;
  border-top: 1px solid #ddd;
  padding: 8px;
}

.App-table tr:nth-child(even){background-color: #f2f2f2;}

.App-table tr:hover {background-color: #ddd;}

.App-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
}
